*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
}
body{
    background-color: #000;
    font-size: 1.2rem;
}
.calculator{
    border: 1px solid #797979;
    border-radius: 10px;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.calculator-input{
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    font-size: 4rem;
    height: 70px;
    border: none;
    background-color: #1a1a1a;
    color: #fff;
    text-align: right;
    padding-left: 20px;
    padding-right: 20px;
}
button{
    height: 50px;
    background-color: #1f1f1f;
    border-radius: 5px;
    border: 1px solid #2b2b2b;
    font-size: 2.5rem;
    color: #e0e0e0;
}
button:hover{
    background-color: #414141;
}
.operator{
    color: rgb(0, 126, 126);
}

.clear{
    background-color: rgb(216, 36, 66);
    border-color: rgb(228, 120, 138);
}
.clear:hover{
    background-color: rgb(175, 30, 54);
}
.equal-sign{
    background-color:rgb(0, 41, 41);
    border-color: rgb(0, 116, 116);
    color: #fff;
    height: 100%;
    grid-area: 2/4/6/5;
}
.equal-sign:hover{
    background-color: rgb(0, 87, 87);
}
.calculator-keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding: 20px;
}